---
import { Image } from 'astro:assets';
import GitLab from 'icons:astro/simple-icons/gitlab';
import TwitterX from 'icons:astro/simple-icons/x';
import LinkedIn from 'icons:astro/simple-icons/linkedin';
import Instagram from 'icons:astro/skill-icons/instagram';

import profilePicture from '@/assets/img/profile.webp';
import NavLink from '@/components/NavLink.astro';
import DarkModeToggle from './DarkModeToggle.svelte';
---

<nav class="flex flex-row items-center gap-4 md:pt-4">
  <a href="/">
    <Image
      src={profilePicture}
      alt="Ivan Partida"
      class="w-[64px] rounded-full transition-transform hover:scale-125"
      width={256}
    />
  </a>
  <div class="flex flex-row items-center gap-2">
    <NavLink
      href="https://gitlab.com/DeadOcean"
      icon={GitLab}
      color="orange"
      ariaLabel="GitLab profile"
    />
    <NavLink
      href="https://www.linkedin.com/in/ivanpartidagalarza/"
      icon={LinkedIn}
      color="blue"
      ariaLabel="LinkedIn profile"
    />
    <NavLink
      href="https://x.com/@DeadOce4n"
      icon={TwitterX}
      ariaLabel="Twitter profile"
    />
    <NavLink
      href="https://www.instagram.com/_solianir/"
      icon={Instagram}
      class="text-lg"
      ariaLabel="Instagram profile"
    />
  </div>
  <DarkModeToggle class="ml-auto" client:load />
</nav>
