---
import React from 'icons:astro/simple-icons/react';
import Svelte from 'icons:astro/simple-icons/svelte';
import TypeScript from 'icons:astro/simple-icons/typescript';
import JavaScript from 'icons:astro/simple-icons/javascript';
import Python from 'icons:astro/logos/python';
import NeoVim from 'icons:astro/simple-icons/neovim';
import Gatsby from 'icons:astro/simple-icons/gatsby';
import Fastify from 'icons:astro/simple-icons/fastify';
import Kubernetes from 'icons:astro/simple-icons/kubernetes';
import Docker from 'icons:astro/simple-icons/docker';
import NodeJs from 'icons:astro/simple-icons/nodedotjs';
import GitLab from 'icons:astro/simple-icons/gitlab';
import PostgreSQL from 'icons:astro/simple-icons/postgresql';
import TailwindCSS from 'icons:astro/simple-icons/tailwindcss';
import CloudflarePages from 'icons:astro/simple-icons/cloudflarepages';
import MongoDB from 'icons:astro/simple-icons/mongodb';
import Moleculer from 'icons:astro/simple-icons/moleculer';
import Zod from 'icons:astro/simple-icons/zod';
import AstroIcon from 'icons:astro/simple-icons/astro';
import Git from 'icons:astro/simple-icons/git';
import Pnpm from 'icons:astro/simple-icons/pnpm';
import Turborepo from 'icons:astro/logos/turborepo-icon';
import Linux from 'icons:astro/simple-icons/linux';
import S3 from 'icons:astro/simple-icons/amazons3';
import Express from 'icons:astro/simple-icons/express';
import Vite from 'icons:astro/logos/vitejs';
import Koa from 'icons:astro/simple-icons/koa';
import Bash from 'icons:astro/simple-icons/gnubash';
import Electron from 'icons:astro/simple-icons/electron';
import Eslint from 'icons:astro/logos/eslint';
import Prettier from 'icons:astro/logos/prettier';
import Prisma from 'icons:astro/simple-icons/prisma';
import GitHub from 'icons:astro/simple-icons/github';
import ReactQuery from 'icons:astro/simple-icons/reactquery';
import Npm from 'icons:astro/simple-icons/npm';
import Download from 'icons:astro/mingcute/download-3-fill';
import EKS from 'icons:astro/simple-icons/amazoneks';
import K3s from 'icons:astro/simple-icons/k3s';
import Flask from 'icons:astro/simple-icons/flask';
import Nginx from 'icons:astro/simple-icons/nginx';
import Traefik from 'icons:astro/simple-icons/traefikproxy';
import LevelDB from 'icons:astro/logos/leveldb';
import ESBuild from 'icons:astro/simple-icons/esbuild';
import Vitest from 'icons:astro/logos/vitest';
import Webpack from 'icons:astro/simple-icons/webpack';
import Vercel from 'icons:astro/simple-icons/vercel';
import SQLAlchemy from 'icons:astro/simple-icons/sqlalchemy';
import { SEO } from 'astro-seo';

import Layout from '@/layouts/Layout.astro';
import InlineWithIcon from '@/components/InlineWithIcon.astro';
import ProjectEntry from '@/components/ProjectEntry.astro';
import TechBadge, {
  type Props as TechBadgeProps,
} from '@/components/TechBadge.astro';
import BaseHead from '@/components/BaseHead.astro';
import WorkExpEntry from '@/components/WorkExpEntry.astro';
import CurrentlyEditing from '@/components/CurrentlyEditing/CurrentlyEditing.svelte';
import cv from '@/assets/doc/cv.pdf';
import suprachat from '@/assets/img/suprachat.webp';
import monglue from '@/assets/img/monglue.webp';

const allTechs: TechBadgeProps[] = [
  { content: 'Linux', icon: Linux },
  { content: 'Git', icon: Git, color: 'red' },
  { content: 'Bash', icon: Bash },
  { content: 'Vite', icon: Vite, color: 'blue' },
  { content: 'Express', icon: Express },
  { content: 'Koa', icon: Koa },
  { content: 'Electron', icon: Electron, color: 'blue' },
  { content: 'Prisma', icon: Prisma },
  { content: 'ESLint', icon: Eslint, color: 'purple' },
  { content: 'Prettier', icon: Prettier, color: 'yellow' },
  { content: 'pnpm', icon: Pnpm, color: 'yellow' },
  { content: 'npm', icon: Npm, color: 'red' },
  { content: 'GitHub', icon: GitHub },
  { content: 'AWS S3', icon: S3, color: 'orange' },
  { content: 'AWS EKS', icon: EKS, color: 'orange' },
  { content: 'k3s', icon: K3s, color: 'yellow' },
  { content: 'Træfik', icon: Traefik, color: 'blue' },
  { content: 'Nginx', icon: Nginx, color: 'green' },
  { content: 'Python', icon: Python, color: 'yellow' },
  { content: 'Flask', icon: Flask },
  { content: 'SQLAlchemy', icon: SQLAlchemy, color: 'red' },
];

const title = 'Ivan Partida | Full-Stack Engineer';
const description =
  'Full-Stack Engineer and DevOps enthusiast with a focus on type-safety and Developer Experience.';
const ogImage = 'https://ivanpartida.xyz/og.webp';
---

<html lang="en">
  <head>
    <BaseHead />
    <SEO
      title={title}
      {description}
      canonical="https://ivanpartida.xyz"
      openGraph={{
        basic: {
          type: 'website',
          title,
          url: 'https://ivanpartida.xyz',
          image: ogImage,
        },
        optional: {
          description,
        },
      }}
      twitter={{
        card: 'summary_large_image',
        site: '@DeadOce4n',
        title,
        description,
        image: ogImage,
        creator: '@DeadOce4n',
      }}
    />
  </head>
  <Layout>
    <section>
      <h1 class="not-prose mb-2">
        <span
          class="from-purple to-pink bg-gradient-to-r bg-clip-text text-transparent"
        >
          Hi, I'm Ivan Partida
        </span>
        <span class="animate-wiggle inline-block">👋</span>
      </h1>
      <span
        class="text-white-dark mb-4 inline-flex items-center gap-1 font-bold"
      >
        Full-Stack Engineer and DevOps enthusiast
      </span>
      <p>
        I love all things web-dev related: frontend development with <InlineWithIcon
          icon={React}
          text="React"
          color="blue"
        />
         and <InlineWithIcon text="Svelte" icon={Svelte} color="orange" />,
        backend development with <InlineWithIcon
          text="Node.js"
          icon={NodeJs}
          color="green"
        /> and <InlineWithIcon text="Python" icon={Python} color="yellow" />.
      </p>
      <p>
        My favorite programming language is <InlineWithIcon
          text="TypeScript"
          icon={TypeScript}
          color="blue"
        /> (I even use it for CI/CD). Given the complexity of modern web apps, I
        think full-stack <span class="decoration-red underline decoration-wavy"
          >type-safety</span
        > is a hard requirement.
      </p>
      <p>
        I do most of my work directly inside my terminal, so I use a lot of CLI
        tools on a daily basis. <InlineWithIcon
          text="Neovim"
          icon={NeoVim}
          color="green"
        />
         is my text editor of choice because it allows me to code
        <em>blazingly fast</em>.
      </p>
    </section>
    <section class="!mt-12">
      <CurrentlyEditing client:load />
    </section>
    <section>
      <h2>Work experience</h2>
      <div class="mb-8 px-2 pt-4 md:px-4">
        <WorkExpEntry
          employer="G-Global"
          jobTitle="Full-Stack Engineer"
          period="May 2022 - Present"
        >
          <ul class="prose-base md:prose-lg ml-4">
            <li>
              Collaborated on the development of multiple user-facing apps from
              frontend to backend using <InlineWithIcon
                text="React"
                icon={React}
                color="blue"
              /> and <InlineWithIcon
                text="Node.js"
                icon={NodeJs}
                color="green"
              />.
            </li>
            <li>
              Standardized the projects’ toolchain to achieve consistency on
              code style and best practices, resulting in a 40% decrease in code
              review time.
            </li>
            <li>
              Migrated two large React apps from an older toolchain (<InlineWithIcon
                text="Webpack"
                icon={Webpack}
                color="blue"
              />) to a modern one (<InlineWithIcon
                text="Vite"
                icon={Vite}
                color="blue"
              />), decreasing their build time by as much as 80%.
            </li>
            <li>
              Optimized the projects’ CI/CD pipelines to decrease their time to
              production upwards of 25%.
            </li>
          </ul>
        </WorkExpEntry>
      </div>
      <div class="not-prose grid place-items-center md:w-fit">
        <a
          href={cv}
          target="_blank"
          class="bg-purple text-gray-dark hover:bg-purple-light flex items-center gap-2 rounded-lg px-4 py-2 shadow-md transition-colors"
        >
          <span><Download /></span>
          <span>Download my resume</span>
        </a>
      </div>
    </section>
    <section>
      <h2>Projects</h2>
      <p>The following are some of my most important projects:</p>
      <ul class="flex list-none flex-col gap-0 pl-0 md:gap-2">
        <ProjectEntry
          name="SupraChat"
          link="https://gitlab.com/suprachat"
          image={{ src: suprachat, alt: 'SupraChat' }}
          stack={[
            {
              content: 'TypeScript',
              icon: TypeScript,
              color: 'blue',
            },
            {
              content: 'React',
              icon: React,
              color: 'blue',
            },
            {
              content: 'Gatsby',
              icon: Gatsby,
              color: 'purple',
            },
            {
              content: 'TanStack Query',
              icon: ReactQuery,
              color: 'red',
            },
            {
              content: 'TailwindCSS',
              icon: TailwindCSS,
              color: 'blue',
            },
            {
              content: 'Node.js',
              icon: NodeJs,
              color: 'green',
            },
            { content: 'Fastify', icon: Fastify },
            {
              content: 'MongoDB',
              icon: MongoDB,
              color: 'green',
            },
            {
              content: 'Kubernetes',
              icon: Kubernetes,
              color: 'blue',
            },
            {
              content: 'Docker',
              icon: Docker,
              color: 'blue',
            },
            {
              content: 'GitLab',
              icon: GitLab,
              color: 'orange',
            },
          ]}
        >
          An IRC-based chat platform with user authentication and a bot for
          managing channels.
        </ProjectEntry>
        <ProjectEntry
          name="Monglue"
          link="https://gitlab.com/DeadOcean/monglue"
          image={{ src: monglue, alt: 'monglue' }}
          stack={[
            {
              content: 'TypeScript',
              icon: TypeScript,
              color: 'blue',
            },
            {
              content: 'Node.js',
              icon: NodeJs,
              color: 'green',
            },
            {
              content: 'MongoDB',
              icon: MongoDB,
              color: 'green',
            },
            {
              content: 'ESBuild',
              icon: ESBuild,
              color: 'yellow',
            },
            {
              content: 'Vitest',
              icon: Vitest,
              color: 'green',
            },
          ]}
        >
          Thin wrapper around MongoDB's native Node.js driver that allows for
          type-safe joins between collections.
        </ProjectEntry>
        <ProjectEntry
          name="Zodeculer"
          stack={[
            {
              content: 'TypeScript',
              icon: TypeScript,
              color: 'blue',
            },
            {
              content: 'Node.js',
              icon: NodeJs,
              color: 'green',
            },
            {
              content: 'Moleculer',
              icon: Moleculer,
              color: 'blue',
            },
            { content: 'Zod', icon: Zod, color: 'blue' },
          ]}
        >
          A Moleculer microservice template with sane defaults for validations,
          logging, and testing.
        </ProjectEntry>
        <ProjectEntry
          name="Cartelera Cultural de Ensenada"
          stack={[
            {
              content: 'TypeScript',
              icon: TypeScript,
              color: 'blue',
            },
            {
              content: 'SvelteKit',
              icon: Svelte,
              color: 'orange',
            },
            {
              content: 'Node.js',
              icon: NodeJs,
              color: 'green',
            },
            {
              content: 'TailwindCSS',
              icon: TailwindCSS,
              color: 'blue',
            },
            {
              content: 'PostgreSQL',
              icon: PostgreSQL,
              color: 'blue',
            },
            {
              content: 'Vercel',
              icon: Vercel,
            },
          ]}
        >
          A web platform for publishing and finding cultural events in the city
          of Ensenada.
        </ProjectEntry>
        <ProjectEntry
          name="Portfolio"
          link="https://gitlab.com/DeadOcean/ivanpartida.xyz"
          stack={[
            {
              content: 'TypeScript',
              icon: TypeScript,
              color: 'blue',
            },
            {
              content: 'Astro',
              icon: AstroIcon,
              color: 'orange',
            },
            { content: 'Svelte', icon: Svelte, color: 'orange' },
            {
              content: 'TailwindCSS',
              icon: TailwindCSS,
              color: 'blue',
            },
            { content: 'Zod', icon: Zod, color: 'blue' },
            { content: 'LevelDB', icon: LevelDB, color: 'green' },
            {
              content: 'Turborepo',
              icon: Turborepo,
              color: 'normal',
              class: '[&>span>svg>*:last-child]:fill-white',
            },
            { content: 'ESBuild', icon: ESBuild, color: 'yellow' },
            { content: 'Docker', icon: Docker, color: 'blue' },
            { content: 'Kubernetes', icon: Kubernetes, color: 'blue' },
            {
              content: 'Cloudflare Pages',
              icon: CloudflarePages,
              color: 'orange',
            },
            { content: 'GitLab CI', icon: GitLab, color: 'orange' },
          ]}
        >
          This very website! A simple yet over-engineered website about me and
          my projects, with a component that <a href="#currently-editing"
            >shows what I'm working on in real time</a
          >.
        </ProjectEntry>
      </ul>
    </section>
    <section>
      <h2>Tech</h2>
      <p>
        In addition to the technologies used in the projects shown above, I use
        the following technologies regularly or have reasonable experience with
        them:
      </p>
      <div class="flex-column flex flex-wrap gap-3">
        {allTechs.map((props) => <TechBadge {...props} size="lg" />)}
      </div>
      <p>
        As you can see, I'm most comfortable working with the <InlineWithIcon
          text="JavaScript"
          icon={JavaScript}
          color="yellow"
        /> ecosystem; as chaotic as it is, I think that's part of the fun!
      </p>
    </section>
    <section>
      <h2>Why you should hire me</h2>
      <ul>
        <li>
          I'm an easy-going person; I dislike conflicts, whether merge or
          social.
        </li>
        <li>I'm a team player, I'll help whenever I can.</li>
        <li>I have a strong focus on correctness and robustness.</li>
        <li>
          I can write <InlineWithIcon
            text="TypeScript"
            icon={TypeScript}
            color="blue"
          /> without using <code>any</code>.
        </li>
        <li>
          I value <a href="https://grugbrain.dev/" target="_blank">simplicity</a
          >, I think it leads to more maintainable software.
        </li>
        <li>
          <a href="https://xkcd.com/293/" class="fill-white" target="_blank">
            I actually read the docs.
          </a>
        </li>
      </ul>
    </section>
  </Layout>
</html>
